.debug {
    &:before {
        position: fixed;
        left:0;
        bottom:0;
        padding:10px 15px;
        line-height: 1;
        background:blue;
        z-index: 9999;
        font-size:10/16 * 1rem;
        pointer-events: none;

        content: 'sm';

        @screen md {
            content: 'md';
        }

        @screen lg {
            content: 'lg';
        }

        @screen xl {
            content: 'xl';
        }

        @screen display {
            content: 'display';
        } 
    }

    
    --columns: 12;
    --color: hsla(0, 87%, 56%, 0.25);
    
    
    --gutter: #{rem(16px)};
    --offset: #{rem(16px)};
    --max_width: calc(100% - #{rem(16px)} * 2);

    @screen md {
        --gutter: #{rem(32px)};
        --offset:rem(32px);
        --max_width: calc(100% - #{rem(32px)} * 2);
    }
    
    @screen xl {
        --offset:rem(64px);
        --max_width: calc(100% - #{rem(64px)} * 2);
    }
  
      /* Helper variables */
    --repeating-width: calc(100% / var(--columns));
    --column-width: calc((100% / var(--columns)) - var(--gutter));
    --background-width: calc(100% + var(--gutter));
    --background-columns: repeating-linear-gradient(
        to right,
        var(--color),
        var(--color) var(--column-width),
        transparent var(--column-width),
        transparent var(--repeating-width)
    );
 
      

    &:after {
        position: fixed;
        top:0;
        left:0;
        right:0;
        margin:auto;
        width: calc(100% - (2 * var(--offset)));
        max-width: var(--max_width);
        height:100%;
        z-index: 9999;
        content: '';
        background-image: var(--background-columns);  
        background-size: var(--background-width) 100%;
        pointer-events: none;
    }
}