/* purgecss ignore */
.will-change {
  will-change: transform;
}

/* purgecss ignore */
[data-text-animate] {
  * {
    will-change: transform;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
