<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <title>Static site builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="scss/main.scss">
    <meta name="theme-color" content="#fafafa">

  </head>

  <body class="overflow-hidden">

    {% include "./header.njk" %}
    <div data-scroll-container="data-scroll-container">
      <main data-router-wrapper="data-router-wrapper">
        {% block body %}{% endblock %}
      </main>
    </div>

    {% include "./cursor.njk" %}
    {% include "./sail.njk" %}
    {% include "./preloader.njk" %}
    {% include "./debug.njk" %}

    <script src="js/main.js"></script>

  </body>
</html>