

<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Static site builder</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="scss/main.scss">
  <meta name="theme-color" content="#fafafa">

</head>

<body>
  {% include "./header.njk" %}
  <main data-router-wrapper data-scroll-container>
    <div data-router-view="global" data-scroll>
        {% block body %}{% endblock %}
    </div>
  </main>

  <div data-cursor class="w-6 h-6 -mt-3 -ml-3 z-50 bg-white fixed top-0 left-0 rounded-full pointer-events-none"></div>
  <div class="debug" onclick="console.log(this.classList.toggle('grid'))"></div>
  
  <script src="js/main.js"></script>

</body>
</html>
