<div data-preloader="data-preloader" class="fixed inset-0 w-full h-full  bg-gray flex items-center justify-center z-999 overflow-hidden">
    <div class="text-black text-4xl">
        <span data-preloader-progress="data-preloader-progress">0</span>%</div>
</div>