{% extends './components/layout.njk' %}

{% block body %}
  <div class="container">
    <h1 class="text-4xl">A page!</h1>
    <a href="/" class="py-2 px-8 bg-white text-black text-xs rounded inline-block my-12">Home</a>
  </div>
{% endblock %}